@model UnviersalMV.UniversalViewBag

@if(Model.Error is not null)
{
    <div>@Model.Error</div>
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    string[] values = { "True", "False" };
}

<form method="post" action="./@Model.Action">

    @foreach (var p in Model.PrintDefault ? Model.Model.GetDefaultSettableValues() : Model.Model.GetSettableValues())
    {
        @if(p.Type == "checkbox")
        {
            <label>@(p.Name + ":")</label>
            bool checkd = p.Value == "True";
            foreach(var btn in values)
            {
                @if(btn == p.Value)
                {
                    <input type="radio" id="@p.Name" value="@btn" name="@p.Name" checked />
                }
                else
                {
                    <input type="radio" id="@p.Name" value="@btn" name="@p.Name" unchecked />
                }
                <label>@btn</label>
            }
        }
        else
        {
            @if (p.Type != "hidden")
            {
                <label for="@p.Name">@p.Name</label>
            }
            <input type="@p.Type" step="@p.Step" id="@p.Name" value="@p.Value" name="@p.Name" />
        }
    }

    <input type="submit" value="Создать/изменить" />

</form>

@{
}
